.container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('./assets/green.jpg');
    width: 96vw;
    height: 88vh;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.searchBar {
    margin-bottom: 20px;
}

.input {
    padding: 10px;
    width: 100%;
    max-width: 600px;
    border: 1px solid #ccc;
    border-radius: 4px;
    }

.heading {
    margin-bottom: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.table th,
.table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.error {
    color: red;
    font-weight: bold;
}

.noProducts {
    color: gray;
}

.formContainer {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    width: 300px;
    border-radius: 8px;
  }

  .formContainer h2{
    color: black;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #aaaaaa;
    color: #f9f9f9;
    border-radius: 4px;
  }
  
  .button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  